<div class="home-page">

  <div class="banner" *appShowAuthed="false">
    <div class="container">
      <h1 class="logo-font">forum</h1>
      <p>A place to share your <i>Angular</i> knowledge.</p>
    </div>
  </div>

  <div class="container page">
    <div class="row">
    	
    	<mat-tab-group>
    	  <mat-tab label="Discuss">
    	    <ng-template matTabContent>
    	      {{getPosts(1)}}
    	      <app-post [user]="user" [tags]="selectedTags"></app-post>
    	    </ng-template>
    	  </mat-tab>
    	  <mat-tab label="My Posts">
    	    <ng-template matTabContent>
    	      {{getPosts(2)}}
    	      <app-post [user]="user" [tags]="selectedTags"></app-post>
    	    </ng-template>
    	  </mat-tab>
    	</mat-tab-group>


      <div class="col-md-3">
        <div class="sidebar">
          <p>Popular Tags</p>

          <mat-chip-list class="tags" aria-label="Fish selection">
            <mat-chip *ngFor="let tag of tags" 
            	[selected]="tag.selected" 
            	(selectionChange)="changeSelected($event)"
            	(click)="tag.selected=!tag.selected">{{tag.name}} </mat-chip>
          </mat-chip-list>

          <div [hidden]="tagsLoaded">
            Loading tags...
          </div>
        </div>
      </div>
    </div>

    <div class="footer paginator">
    	<mat-paginator [length]="100"
    	              [pageSize]="10"
    	              [pageSizeOptions]="[5, 10, 25, 100]">
    	</mat-paginator>
    </div>

  </div>
</div>