.nav-link {
  cursor:pointer;
}

.tag-pill{
  cursor:pointer;
}

.tags{
	width: 30%;
}

.paginator{
	bottom: 0;
	right: 40%;
	padding: 5%;
	padding-right: 30%;
}
.sidebar{
	position: absolute;
	right: 10%;
	top:30%;
	z-index: 10;
}