<mat-toolbar id="navbar" color="primary">
  <div class="container">
    <a routerLink="/" class="logo">LearningApp</a>
    <nav>
      <ul>
        <li><a href="#" routerLink="/">Home</a></li>
        <li><a href="#" routerLink="/forum">Forum</a></li>
        <li><a href="#" routerLink="/resource">Resources</a></li>
        <li *ngIf="!user">
          <a routerLink='/auth/login' routerLinkActive="mat-accent">Login</a>
        </li>
        <li *ngIf='user'>
          <button color="accent" (click)='logout()'>Logout</button>
        </li>
      </ul>
    </nav>
  </div>
</mat-toolbar>

