<mat-card *ngFor="let post of posts">
	<mat-card-title (click)="openArticle(post)">{{post.title}}</mat-card-title>
	<mat-card-subtitle>@{{post.user}}</mat-card-subtitle>
	<mat-card-content (click)="openArticle(post)">
		{{post.content}}
		<br/><br/>
		<mat-chip-list class="tags" aria-label="tags">
		  <mat-chip *ngFor="let tag of post.tags">{{tag}} </mat-chip>
		</mat-chip-list>
	</mat-card-content>

	<div class="actions">
		<mat-icon 
		  id="like-icon"
		  color="accent"
			matBadge="{{post.likes}}" 
			(click)="likePost(post._id); post.likes=1+post.likes;" 
			matBadgeColor="accent" matBadgeSize="small">favorite</mat-icon>
		<mat-icon 
		  id="like-icon"
		  color="primary"
			matBadge="{{post.comments}}" 
			matBadgeColor="warm" matBadgeSize="small">comment</mat-icon>
		<span>{{post.timestamp}}</span>
	</div>

	<mat-card-footer></mat-card-footer>
	<br/>
	<mat-divider></mat-divider>
	<br/>
</mat-card>